<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  <style>
 .animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  
  opacity: 1;
  padding: 10px;
}
      
      </style>


  <head>
  
  </head>
  <body>
        <form>


 <fieldset>
              <legend>Choice of Meal 1:</legend>
              <span>What did you eat today? <br></span>
              <input type="radio" name="Meal1" ng-model="content1" value="pizza" > Pizza<br>
              <input type="radio" name="Meal1" ng-model="content1" value="apple"> Apple<br>
              <input type="radio" name="Meal1" ng-model="content1" value="chicken"> Chicken<br>
              <input type="radio" name="Meal1" ng-model="content1" value="other"> Other<br>
              <div>
                
                <span class="check-element animate-show-hide" ng-show="content1 == 'other' ">What is the estimated number of calories 
                                                  (in whole numbers) of the other food you ate?</span>
               
               <input class="check-element animate-show-hide"  ng-show="content1 == 'other' " type="text" name="CalorieNumber" value="0"><br>
             
                </div>
              <input type="radio" name="Meal1" ng-model="content1" value="N/A"> N/A

           
                 
              </fieldset>

              
              <fieldset>
              <legend>Choice of Meal 2:</legend>
              <span>What did you eat today? <br></span>
              <input type="radio" name="Meal2" ng-model="content2" value="pizza" > Pizza<br>
              <input type="radio" name="Meal2" ng-model="content2" value="apple"> Apple<br>
              <input type="radio" name="Meal2" ng-model="content2" value="chicken"> Chicken<br>
              <input type="radio" name="Meal2" ng-model="content2" value="other"> Other<br>
              <div>
                
                <span class="check-element animate-show-hide" ng-show="content2 == 'other' ">What is the estimated number of calories 
                                                  (in whole numbers) of the other food you ate?</span>
               
               <input class="check-element animate-show-hide" ng-show="content2 == 'other' " type="text" name="CalorieNumber" value="0"><br>
             
                </div>
              <input type="radio" name="Meal2" ng-model="content2" value="N/A"> N/A

             
                 
              </fieldset>

              <fieldset>
                    <legend>Choice of Meal 3:</legend>
                    <span>What did you eat today? <br></span>
                <input type="radio" name="Meal3" ng-model="content3" value="pizza" > Pizza<br>
                <input type="radio" name="Meal3"  ng-model="content3"value="apple"> Apple<br>
                <input type="radio" name="Meal3" ng-model="content3" value="chicken"> Chicken<br>
                <input type="radio" name="Meal3" ng-model="content3" value="other"> Other<br>
                <div>
                  
                  <span class="check-element animate-show-hide" ng-show="content3 == 'other' ">What is the estimated number of calories 
                                                    (in whole numbers) of the other food you ate?</span>
                 
                 <input class="check-element animate-show-hide" ng-show="content3 == 'other' " type="text" name="CalorieNumber" value="0"><br>
               
                  </div>
                <input type="radio" name="Meal3" ng-model="content3" value="N/A"> N/A
  
                
                   
                </fieldset>
                <br>
                <fieldset>
                  <legend>Calories Burned</legend>
                  <span>What type of exercise did you perform? <br></span>
                <input type="radio" name="Exercise" ng-model="content2" value="aerobic" > Aerobic/Cardiovascular<br>
                <input type="radio" name="Exercise" ng-model="content2" value="strength"> Strength<br>
                <input type="radio" name="Exercise" ng-model="content2" value="balance"> Balance<br>
                <input type="radio" name="Exercise" ng-model="content2" value="flexibility"> Flexibility<br>
                <input type="radio" name="Exercise" ng-model="content2" value="NotApplicable"> N/A<br>
                <br>

                How many minutes did you exercise?
                (Note: If you did not exercise, please enter 0.) <br>
                <input type="text" name="Minutes"><br>
                  How many calories did you burn over the course of exercising today? 
                  (Note: If you did not exercise, please enter 0.) <br>
                  <input type="text" name="BurnedCalories"><br>
                  
                  
    
                  
                </fieldset>
                <br>
                <span>Daily Narrative (Optional): Describe what and when you ate, 
                    and what emotions caused you to choose what you ate. </span>
                  <input type="text" name="emotions"><br><br>
                <br>
                <span><b>Please click below to submit information.</b></span> <br>
                
                <input type="submit" value="Submit">
              </form>

 


              </body>
              </html>
              