<!DOCTYPE html>
<html lang="en">
  <style>
    .animate-show-hide.ng-hide {
     opacity: 0;
   }
   
   .animate-show-hide.ng-hide-add,
   .animate-show-hide.ng-hide-remove {
     transition: all linear 0.5s;
   }
   
   .check-element {
     
     opacity: 1;
     padding: 10px;
   }
         
         </style>
   
  
  <body>
        <form>




            <fieldset>
              <legend>Personal information:</legend>
              First name (Optional):<br>
              <input type="text" name="firstname"><br>
              Last name (Optional):<br>
              <input type="text" name="lastname"><br>
              E-mail Address:<br>
              <input type="text" name="email"><br>
              Weight (Note: Please measure your weight (lbs) in the morning before your first meal and drink): <br>
              <input type="text" name="weight"><br><br>

              
            </fieldset>
            <br><br>
            
            <fieldset>
                <legend>Number of Meals:</legend>
                <span>How many meals did you have today? <br></span>
                <input type="radio" name="MealNumber" value="0" onclick="Redirect0();"> 0<br>
                <input type="radio" name="MealNumber" value="1" onclick="Redirect1();"> 1<br>
                <input type="radio" name="MealNumber" value="2" onclick="Redirect2();"> 2<br>
                <input type="radio" name="MealNumber" value="3" onclick="Redirect3();"> 3
                
                </fieldset>

                
                 

           

            


    </form>

  


      <br>
      



  </body>
</html>
