<!DOCTYPE html>
<html lang="en">
 
   
  <head>
    You consumed 0 calories because you did not have any meals today
  </head>
  <body>

<form>

  <br>
              <fieldset>
                <legend>Calories Burned</legend>
                How many calories did you burn over the course of exercising today? 
                (Note: If you did not exercise, please enter 0.) <br>
                <input type="text" name="BurnedCalories"><br>
                
                
  
                
              </fieldset>
              <br>
              <span>Daily Narrative (Optional): Describe what and when you ate, 
                  and what emotions caused you to choose what you ate. </span>
                <input type="text" name="emotions"><br><br>
              <br>
              <span><b>Please click below to submit information.</b></span> <br>
              <input type="submit" value="Submit">

</form>



    
  </body>

</html>